<?xml version="1.0"?>
<web-app>

<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>LoginServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>ProcessA</servlet-name>
<servlet-class>ProcessA</servlet-class>
</servlet>

<servlet>
<servlet-name>ProcessB</servlet-name>
<servlet-class>ProcessB</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ProcessA</servlet-name>
<url-pattern>/ProcessA</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ProcessB</servlet-name>
<url-pattern>/ProcessB</url-pattern>
</servlet-mapping>

<welcome-file-list>
<welcome-file>Home.html</welcome-file>
<welcome-file>valid.html</welcome-file>
<welcome-file>valid.html</welcome-file>
</welcome-file-list>
</web-app>